@charset "UTF-8";

* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;
    caret-color: transparent;
}


/* MAIN */

main {
    margin: 30px 0px 0px 0px;
}

.management-panel {
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 10px;
}

.management-panel > li > a {
    text-decoration: none;
    color: black;
}

.management-panel > li > a:hover {
    text-decoration: underline;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}