@charset "UTF-8";

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/

header {
    background-color: #D2BBF5;
}

body {
    background-color: #ffffff;
}

main {
    background-color: #E0D0F2;
}

footer {
    background-color: #D2BBF5; color: #000000;
}