@charset "UTF-8";

header {
    padding-bottom: 10px;
    padding-top: 5px;
}

header h1 {
    padding-bottom: 5px;
    padding-top: 0px;
}

header #burguer {
    height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header menu {
    display: none;
}

header .line1 {
    border: 1px solid white;
    width: 16px;
    margin-bottom: 3px;
}

header .line2 {
    border: 1px solid white;
    width: 14px;
    margin-bottom: 2px;
}

header .line3 {
    border: 1px solid white;
    width: 10px;
}

header > menu > ul > li > a {
    text-align: center;
}

header li {
    display: block;
}