@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');



* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#title {
    font-size: 4.5vw;
    font-family: "Playwrite RO", cursive;
}

header > p {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
    font-family: "Playwrite RO", cursive;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}



section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgb(44, 44, 44);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.582);
}

section.image > p {
    background-color: rgba(0, 0, 0, 0.74);
    display: inline-block;
    padding: 15px;
    text-shadow: 1px 1px 0px black;
}

section#img001 {
    background: black url('../assets/background001.jpg') right center / cover no-repeat fixed;
}

section#img002 {
    background: black url('../assets/background002.jpg') right center / cover no-repeat fixed;
}

section p {
    font-family: "Tagesschrift", system-ui;
    font-size: 22px;
    padding: 15px;
}

footer {
    background-color: black;
}

footer p {
    text-align: center;
    color: white;
}