@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../sources/idroid.otf) format('opentype');
    font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: white;
    --cor1: rgb(233, 233, 233);
    --cor2: rgb(204, 203, 203);
    --cor3: #e8f5e9;
    --cor4: #abd8c2;
    --cor5: rgb(7, 247, 135);
    --cor6: #0f9d58;
    --cor7: #08542c;
    --cor8: #333333;
    --cor9: rgb(0, 0, 0);

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', sans-serif;
}

body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

header {
    background: linear-gradient(to right, var(--cor7), var(--cor5), var(--cor7));
    color: var(--cor9);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-destaque);
}

.logo-name {
    color: var(--cor0);
    font-weight: normal;
}

.logo-name > p {
    color: var(--cor1);
    font-weight: normal;
}

.menu {
    padding-top: 20px;
}

.menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

.menu a:hover {
    text-decoration: underline;
    background-color: var(--cor6);
    color: var(--cor9);
}


main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: var(--cor0);
    color: var(--cor8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

main h1, main h2, main h3 {
    color: var(--cor7);
    margin-top: 20px;
}

main h1 {
    display: block;
    background: linear-gradient(to right, transparent, var(--cor4), var(--cor4), var(--cor4), transparent);
    text-align: center;
    font-family: var(--fonte-android);
}

main h2 {
    background: linear-gradient(to right, var(--cor4),var(--cor0));  
    font-family: var(--fonte-android);  
}

main h3 {
    font-weight: bolder;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 22px;
}

main p {
    line-height: 1.6;
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}

main a {
    text-decoration: none;
    font-weight: 600;
    color: var(--cor9);
    background-color: var(--cor5);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor7);
}

main a.external::after {
    content: '\1F517';
}

main ul {
    list-style-type: "🤖";
}

.list-honeyed {
    background-color: var(--cor3);
    padding: 10px 0px;
    border-left: 5px solid var(--cor6);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.list-honeyed ul {
    padding: 0;
    margin: 0;
}

.list-honeyed li {
    padding: 5px;
    list-style-position: inside;
}

.img-dandroids {
    display: block;
    margin: 20px auto;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.img-irina {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 0 10px;
}

.img-bugdroid {
    display: block;
    margin: 20px auto;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.video-android-evolution {
    background-color: var(--cor2);
    margin: 10px -20px 20px -20px;
    padding: 20px 0px 20px 0px;
}

.video-android-evolution iframe {
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 90%;
}

section {
    background-color: var(--cor4);
    padding: 5px 30px;
    width: 100%;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding:10px 0;
    height: 35px;
    background-color: var(--cor6);
    box-sizing: border-box;
    color: var(--cor0);
}